<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roiland.crm.sc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 监听电话状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:name="com.roiland.crm.sm.RoilandCRMApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AndroidCRMTheme" >
        <activity
            android:name="com.roiland.crm.sm.ui.view.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.WelcomeFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.BaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmCustomerOrderInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmOppoInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmContacterInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmTestDriveInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmAttachInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmFollowPlanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmCustomerInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmPurchaseCarInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmCarResourceInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmCustomerOwenrListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmSalesFunnelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.SmSalesFunnelPicActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.ScOppoInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.ScFollowPlanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.ScCarResourceInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.ScCustomerInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.roiland.crm.sm.ui.view.ScCustomerOrderInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="com.roiland.crm.sm.ui.view.ScContacterInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="com.roiland.crm.sm.ui.view.ScTestDriveInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.ScCustomerInfoListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.roiland.crm.sm.ui.view.ScAttachInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.roiland.crm.sm.ui.view.ScPurchaseCarInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>